.AuthBtn {
  font-size: 1.3rem;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 3rem 0;
  padding: 0 1rem;
}

.AuthBtn-login {
  background-color: #8bc34a;
}

.AuthBtn-logout {
  background-color: #e91e63;
  border-radius: 0 3rem;
  color: white;
}

@media (min-width: 550px) {
  .AuthBtn {
    padding: 0 2rem;
  }
}
